/action_processor.py
/code files
/data_files
/main.py
/model
/OpenTAD
/requirements.txt
/video_features/models/__pycache__
/video_features/models/i3d/checkpoints
/video_features/models/r21d/checkpoints
/video_features/models/raft/checkpoints
/video_features/models/i3d/__pycache__
/video_features/models/_base/__pycache__
/video_features/rally_features_i3d_stride_4
/video_features/test_features
video_features/utils/__pycache__
/videos_extracted_features
/videos_metadata

/__pycache__
__pycache__/
*.pt
*.pb
*.onnx
*.engine
*.pth
*.mp4
*.npy